*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.cont{
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.label{
   color: black;
   margin-left: 200px;
   padding: 15px;
}

.count{
    font-size: xx-large;
}

.card{
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}