*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.warning{
    padding: 5px 20px;
    background-color: rgba(242, 57, 57, 0.962);
    border: 2px solid rgb(82, 6, 6);
    font-weight: 700;
    text-align: right;
    
}

/* body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
} */

h1 {
    color: #ffffff;
    text-align: center;
    margin: 20px 0;
}

.cont{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    padding: 50px;
    
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    color: #d364ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #9600e6;
}

button {
    background-color: #9600e6;
    color: #121212;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #be64ff;
}

/* Form Styles */
form {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #e0e0e0;
    transition: border-color 0.3s;
}

form input:focus, form select:focus {
    border-color: #b400e6;
    outline: none;
}

form button {
    width: 100%;
    background-color: #b164ff;
    color: #121212;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ad00e6;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table thead {
    background-color: #bc00e661;
}

table th, table td {
    padding: 15px;
    text-align: left;
    color: #ffffff;
}

.actions{
    width: 200px;
}

table th {
    font-weight: bold;
}

table tr {
    border-bottom: 1px solid #333;
}

table tbody tr:hover {
    background-color: #2a2a2a;
}

table a {
    color: #b000e6;
    transition: color 0.3s ease;
}

table a:hover {
    color: #ac64ff;
}


/* Buttons inside table */
.table-button {
    padding: 6px 12px;
    background-color: #1f1f1f;
    border: 1px solid #555;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.3s, color 0.3s;
}

.table-button:hover {
    background-color: #b964ff;
    color: #121212;
}